body {
	background-color: rgb(28, 42, 20);
	background-image: url("../img/background.png");
	background-attachment: fixed;
	color: rgba(229, 255, 231, 0.85);
	font-family: "Trebuchet MS", Helvetica, "Liberation Sans", sans-serif;
	margin: 0;
	padding: 0;
}
nav, header, article, footer {
	background-color: rgba(28, 42, 20, 0.95);
	border-color: rgb(60, 114, 52);
	border-radius: 0.25em;
	border-style: solid;
	border-width: thin;
	box-shadow: 0 0.4em 1em 0 rgba(0, 0, 0, 0.5);
	margin: 0.5em;
}
header {
	padding: 1.5em;
	text-align: center;
}
header img {
	max-width: 100%;
}
nav {
	padding: 0em;
}
nav ul {
	display: table;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
nav li {
	display: table-cell;
	height: 100%;
	text-align: center;
	width: 25%;
}
nav a {
	display: block;
	font-size: 1.5em;
	padding: 0.5em;
	text-decoration: none;
}
nav a:hover, nav a:active {
	background-color: rgba(60, 114, 52, 0.2);
}
nav a .material-icons {
	position: relative;
	top: 3px;
}
article {
	padding: 5em;
	padding-top: 1.5em;
}
footer {
	padding: 0.5em;
}
table.syntax {
	border: void;
	border-collapse: collapse;
	padding: 0;
}
table.syntax tr {
	border-bottom-color: rgba(60, 114, 52, 0.5);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top-color: rgba(60, 114, 52, 0.5);
	border-top-style: solid;
	border-top-width: 1px;
}
table.syntax td {
	padding: 0.5em;
}
table.syntax td:not(:first-child) {
	padding-left: 5em;
}
h1 {
	font-size: 1.5em;
	border-bottom-color: rgba(60, 114, 52, 0.5);
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
h2 {
	font-size: 1.25em;
}
h3 {
	font-size: 1.1em;
}
p {
	text-align: justify;
	text-indent: 0;
}
a:link {
	color: rgba(172, 215, 166, 0.85);
}
a:visited {
	color: rgba(87, 169, 75, 0.85);
}
a:hover {
	text-shadow: white 0 0 0.7em;
}
a.external {
	background-image: url("../img/external.svg");
	background-position: center right;
	background-repeat: no-repeat;
	background-size: 0.7em;
	padding-right: 1em;
}
code, pre {
	font-family: "Courier New", Courier, "Liberation Mono", monospace;
}
.term {
	color: rgba(229, 255, 231, 0.4);
	font-style: oblique;
}
pre {
	background-color: rgb(33, 44, 55);
	border-color: rgb(60, 114, 52);
	border-radius: 0.25em;
	border-style: solid;
	border-width: thin;
	box-shadow: 0 0.4em 1em 0 rgba(0, 0, 0, 0.5) inset;
	color: rgb(248, 248, 242);
	margin: 0.5em;
	padding: 0.5em;
	tab-size: 4;
}
.function, .variable, .type {
	color: rgb(166, 226, 46);
}
.keyword {
	color: rgb(249, 38, 114);
}
.keyword.type, .preprocessor {
	color: rgb(248, 248, 242);
}
.definition {
	color: rgb(253, 151, 31);
}
.literal {
	color: rgb(174, 129, 255);
}
.string {
	color: rgb(230, 219, 116);
}
.comment {
	color: rgba(248, 248, 242, 0.5);
}
ol {
	counter-reset: olcounter;
	list-style-type: none;
	margin-left: 0;
	padding-left: 1em;
}
ol > li {
	counter-increment: olcounter;
}
ol > li:before {
	content: counter(olcounter) ") ";
}
@media (min-width: 1280px) {
	ul.multicolumn {
		-moz-column-count: 3;
		-moz-column-gap: 2em;
		-webkit-column-count: 3;
		-webkit-column-gap: 2em;
		column-count: 3;
		column-gap: 2em;
	}
	ul.multicolumn > li {
		-webkit-column-break-inside: avoid;
		break-inside: avoid;
	}
}
