body {
	background-color: #1C2A14;
	background-image: url("../img/background.png");
	background-attachment: fixed;
	color: rgba(229, 255, 231, 0.85);
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
nav, header, article, footer {
	background-color: rgba(28, 42, 20, 0.95);
	border-color: #3C7234;
	border-style: solid;
	border-width: thin;
	margin: 0.5em;
	padding: 1.5em;
}
nav {
	padding-top: 0.5em;
}
@media (min-width: 1280px) {
	nav {
		position: fixed;
		width: 15em;
		left: 0;
		top: 0;
	}
	header, article, footer {
		margin-left: 19em;
	}
}
header {
	text-align: center;
}
header img {
	max-width: 100%;
}
article {
	padding-left: 5em;
	padding-right: 5em;
}
footer {
	padding: 0.5em;
}
nav ul {
	padding-left: 1em;
}
table {
	border: void;
}
h1 {
	font-size: 1.5em;
}
h2 {
	font-size: 1.25em;
}
h3 {
	font-size: 1.1em;
}
p {
	text-align: justify;
	text-indent: 1em;
}
a:link {
	color: rgba(172, 215, 166, 0.85);
}
a:visited {
	color: rgba(87, 169, 75, 0.85);
}
a:hover {
	text-shadow: white 0 0 0.7em;
}
div.navfooter {
	padding-top: 2em;
	text-align: center;
	font-size: 0.6em;
}
div.sub {
	margin-left: 2.5em;
}
code, .code, dl.codeterms dt {
	font-family: "Courier New", Courier, monospace;
}
